/* Jason Schmitz November 16, 2025 Styles CSS file for Contact Us  */
 
    h3, p, footer {
		text-align: center;
	}
	
	form {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: 0 auto;
		padding: 1em;
	}
	
	input, select, textara {
		margin-bottom: 0.5em;
	}
	
	@media (min-width: 768px) {
		form {
			display: grid;
			gap: 1em;
			grid-template-columns: 6em 1fr;
			margin: 0 auto;
			max-width: 30em;
			width: 60%;
		}
	
		form > input[type="submit"] {
			grid-column: 2;
			width: 10em;
		}
	}
