 /* Jason Schmitz October, 2025 Styles CSS file for Travel Guide */
 
    body {
        background: url("images/background.jpg") no-repeat center fixed;
		font-family: Arial, Helvetica, sans-serif;
	}
	main {
		background-color: white;
		margin: auto;
		width: 50%;
}
	header {
		background: url("images/logo.png") no-repeat right;
		color: white;
		padding: 20px;
		text-align: center;
	}
	nav {
		font-weight: bold;
		text-align: center;
	}
	nav a {
		color: #29485d;
		padding: 10px;
		text-decoration: none;
	}
	nav a:hover {
		color: #ff5733
	}
	h1,h2,h3 {
		font-family: Georgia, "Times New Roman", serif;
	}
	h3 {
		color: #29485d;
	}
	ul {
		list-style-image: url("images/marker.gif");
	}
	li {
		line-height: 1.5;
	}
	footer {
		background-color: white;
		font-family: Georgia, "Times New Roman", serif;
		font-size: 75%;
		font-style: italic;
		margin: auto;		
		padding: 20px;
		text-align: center;
		width: 20%;
		
	}
	.web {
		color: red;
		font-weight: bold;
	}
	#contact {
		background-color: #c7b2ae;
		padding: 15px;
		margin-top: 20px;
		text-align: center;
	}
	.attraction-image {
		border-radius: 10px;
		box-shadow: 20px 20px 10px grey;
		display: block;
		margin: 20px auto;
		max-width: 600px;		
	}
